<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form action="login" method="post">
    <!-- Método POST para enviar dados com segurança -->

    <label for="email">Email</label>
    <input type="text" id="email" name="email" required>

    <br>

    <label for="senha">Senha</label>
    <input type="password" id="senha" name="senha" required>
    <!-- input type password oculta o texto digitado -->

    <br>

    <button type="submit">ENTRAR</button>
    <!-- botão para enviar o formulário -->
  </form>
</body>
</html>
